.home-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 325px;
}

.about-me {
  width: 60%;
  font-size: 1.2em;
}

.about-me a {
  text-decoration: none;
  color: rgba(46, 134, 222, 1.0);
  font-weight: bold;
  transform: scale(1.1)
}

.selfie-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selfie {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 400px) {

  .home-section {
    flex-direction: column-reverse;
    margin: 0;
    width: 95%;
    padding-top: 7vh
  }

  .home-section-title {
    text-align: center;
  }

  .about-me {
    width: 95%;
    font-size: 0.9em;
  }

  .selfie-container {
    width: 200px;
    height: 200px;
  }

}