@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #1e272e;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
}

#root {
  display: flex;
}